language: java

jdk: openjdk11

# The trusty build environment allows for more memory, see https://docs.travis-ci.com/user/reference/overview/
dist: trusty

env:
  global:
    - MAVEN_OPTS="-Xmx15g"
  matrix:
    - TEST=RunHamburgScenarioTest
script:
  - mvn -Dtest=${TEST} test --batch-mode -Dmatsim.preferLocalDtds=true -Dmaven.javadoc.skip -e

on:
  push:
    branches: [ Test_Hao ]
  pull_request:
    branches: [ Test_Hao ]
  workflow_dispatch: